<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>記事編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update_article.css') }}"> <!-- スタイルシートのリンク -->
</head>
<body>
    <header>
        <h1>記事編集</h1>
    </header>
    <form method="post" action="{{ url_for('update_article', article_id=article.id) }}" enctype="multipart/form-data">


    
    <label for="title">タイトル</label>
    <input type="text" name="title" id="title" value="{{ article.title }}" >
    <br><br>

    <label for="adress">アドレス</label>
    <input type="text" name="adress" id="adress" value="{{ article.adress }}" >
    <br><br>

    <label for="description">内容</label>
    <textarea name="description" id="description" cols="50" rows="5" >{{ article.description }}</textarea>
    <br><br>
    <!-- 説明の繰り返し部分をforループで生成 -->
    {% for num in range(1, 6) %}
    <label for="description{{ num }}">内容{{ num }}</label>
    <textarea name="description{{ num }}" id="description{{ num }}" cols="50" rows="5">{{ article['description' ~ num] }}</textarea>
    <br><br>
    {% endfor %}

        <label for="rentaltime">ホールレンタル：</label>
<textarea name="rentaltime" id="rentaltime" cols="50" rows="5">{{ article.rentaltime }}</textarea>
<br><br>

<label for="bukkinngnorma">ブッキングノルマ：</label>
<textarea name="bukkinngnorma" id="bukkinngnorma" cols="50" rows="5">{{ article.bukkinngnorma }}</textarea>
<br><br>

<label for="janre">得意なジャンル：</label>
<textarea name="janre" id="janre" cols="50" rows="5" >{{ article.janre }}</textarea>
<br><br>

<label for="hall_rental">レンタルタイム：</label>
<textarea name="hall_rental" id="hall_rental" cols="50" rows="5" >{{ article.hall_rental_details }}</textarea>
<br><br>

<label for="booking_live">ブッキングライブ：</label>
<textarea name="booking_live" id="booking_live" cols="50" rows="5" >{{ article.booking_live }}</textarea>
<br><br>

<label for="one_drink_price">ワンドリンク価格：</label>
<textarea name="one_drink_price" id="one_drink_price" cols="50" rows="5" >{{ article.one_drink_price }}</textarea>
<br><br>

<label for="secondary_use">二次会利用：</label>
<textarea name="secondary_use" id="secondary_use" cols="50" rows="5" >{{ article.secondary_use }}</textarea>
<br><br>

<label for="streaming_live_available">ストリーミングライブ利用可能：</label>
<textarea name="streaming_live_available" id="streaming_live_available" cols="50" rows="5" >{{ article.streaming_live_available }}</textarea>
<br><br>

<label for="hall_rental_details">ストリーミングライブ利用可能：</label>
<textarea name="hall_rental_details" id="hall_rental_details" cols="50" rows="5" >{{ article.hall_rental_details }}</textarea>
<br><br>


<!-- 画像アップロード部分 -->
{% for i in range(1, 11) %}
    <label for="picture{{ i }}">画像 {{ i }}</label>
    <input type="file" name="picture{{ i }}" id="picture{{ i }}"><br>
    {% if article['picture' ~ i] %}
        <img src="{{ url_for('static', filename=article['picture' ~ i].replace('\\', '/').replace('./static', '')) }}" alt="Picture {{ i }}" width="100" height="100">
    {% endif %}
{% endfor %}
        
        <input type="submit" value="記事を更新">
        <a href="{{ url_for('list_articles') }}" class="back-button">戻る</a>
    </form>

</body>
</html>
